node_modules/
deps/
dnd5e/
foundry/
logs/
foundry-config.yaml
foundry
*.timestamp-*.mjs

# Ignore all markdown files except those preceded by !
*.md
!README.md

.*/
!.gitignore
!.gitattributes
!.github